<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftKeymov.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftKeymovie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D229F8621E20E4A00036EB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D229F8761E20E4A10036EB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D229F8811E20E4A10036EB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D229F8971E20E4CF0036EB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
