<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftTouchID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2F4CD0F1E210BB7001C10B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F4CD231E210BB7001C10B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F4CD2E1E210BB7001C10B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
