<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Square_sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2564C7A1DE2FA060008A044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2564C8E1DE2FA060008A044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2564C991DE2FA070008A044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
