<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2EF23DF1E02D2BE00CE7E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2EF23F31E02D2BF00CE7E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2EF23FE1E02D2BF00CE7E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
