<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pocket_clone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D23127D11DFEDBD700F7CC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D23127E51DFEDBD700F7CC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D23127F01DFEDBD700F7CC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
