<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2E797FA1E04CF4D00B420A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2E7980E1E04CF4E00B420A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2E798191E04CF4E00B420A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
