<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftWunderList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D22E7DC91E13A3E000D01E91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22E7DDD1E13A3E000D01E91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22E7DE81E13A3E000D01E91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
